<!DOCTYPE html>
<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>ClickGame · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/main.css") %>"/>
  </head>
  <body class="font-mono h-full">
    <nav class="container mx-auto py-6 flex justify-end font-semibold" role="navigation">
      <ul class="inline-flex border border-black rounded p-3 text-gray-700">
        <li><a class="pr-4 hover:text-gray-400" href="/">home</a></li>
        <li><a class="hover:text-gray-400" href="/leaderboard">leaderboard</a></li>
      </ul>
    </nav>
    <main role="main" class="container mx-auto h-full">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= render @view_module, @view_template, assigns %>
    </main>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
    <script type="text/javascript" src="<%= Routes.static_path(@conn, "/main.js") %>"></script>

  </body>
</html>
